
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.userbutton:hover{
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  height: 40px; 
}

.ıconn{
  width: 25px;
  height: 30px;
}

.keyname{
  font-size: 60px;
  color: rgb(255, 255, 255);
  text-align: center;
  
}

.logg{
  font-size: 30px;
}

.userpanel{
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  background-color: grey;
  
}
.ıcons{
  width: 25px;
  height: 30px;


 }

/* body {
	margin: 0;
	width: 100%;
	height: 100vh;
	background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 500% 500%;
	animation: animeBG 10s ease infinite;
	animation-direction: alternate;
}

@keyframes animeBG {
    0% {background-position: 0%}
    100% {background-position: 100%}
  } */
  